.side-navbar {
   width: 250px;
   height: 100%;
   margin-left:-250px ;
   position: fixed;
   z-index: 1;
   transition: 0.4s;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
   opacity: 0;
   display: none;
   z-index: 10;
}
.side-navbar ul {
  text-align: left;
}

.active-nav {margin-left: 0; opacity: 100%;}
.active-cont {margin-left: 250px;}
.side-navbar { background-color: rgb(194 116 25); color: rgb(18, 15, 17); transition: 0.4s;}
.side-navbar ul {width: 100%;flex-direction: column;display: flex;list-style: none;}
.side-navbar ul li {line-height: 1.5;} 

.nav-header {
   margin: 1.5em 0 .5em 0;
   padding: .5em 1.2em;
}
.nav-link {
   padding: .5rem 1rem;
  
}
.side-navbar ul a{
    text-decoration: none;
    color: rgb(9, 1, 1);
    font-weight: 700;
    font-size: 1.25em;
    cursor:pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.side-navbar ul a:hover .nav-link, .side-navbar ul a:focus, .side-navbar ul a:active{color: black;background-color: rgb(238, 153, 104);}

.nav-header h3 {
   color: rgb(0, 0, 0);
   font-size: 1.75em;
}
.nav-link i {width: 15%;}

.foot-ico {width: 100%;margin-bottom: 2rem;height: 40px;text-align: -webkit-center;}
.social-ms {
   width: 60%;
   display: flex;
   justify-content: space-between;
}
.social-ms a {color: rgb(8, 8, 8);font-size: 1.5em;}
.social-ms a:hover {color: rgb(241, 166, 117);}
.burger-container{transition: 0.4s;padding: 0.15rem;position:absolute;}
.nav-btn{padding-right: 3rem;padding-left: 3rem;}
.top-navbar {
   width: 10%;
   display: flex;
   flex-wrap: wrap;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   position: relative;}

#menu-btn {
   color: white;
   background-color: #d6882f;
   margin-left: -50px;
   display: none;
   position: fixed;
   z-index: 10;
  }

.btn{
   font-size: 2em;
   border-radius: 0 0.15em 0.15em 0;
   border: 1px solid transparent;
   padding: .375rem .4rem;
   display: flex;
   cursor: pointer;
   align-items: center;
}

.btn i {color: white; font-size: 1.8rem;}

.top-navbar i:hover{
       bottom: 0;
       transform: rotate(-90deg);
       -webkit-transform: rotate(-90deg);
     }
     @media screen and (max-width: 680px) {
       #menu-btn{
           display: block;
       }
       
       .side-navbar{
        display: block;
       }
       
     }